---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
import { getEntry, render } from 'astro:content';

const page = await getEntry('pages', 'lafa');
if (!page) throw new Error('Page not found');
const { Content } = await render(page);
---

<!doctype html>
<html lang="ca">
	<head>
		<BaseHead title={`${page.data.title} | ${SITE_TITLE}`} description={page.data.description} />
	</head>
	<body>
		<Header />
		<main>
			<section class="hero">
				<h1>{page.data.title}</h1>
				{page.data.description && <p class="description">{page.data.description}</p>}
			</section>

			<article class="prose">
				<div class="content">
					<Content />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 100%;
	}
	.content {
		max-width: 960px;
		margin: 0 auto;
		padding: 3rem 2rem;
	}
	.prose {
		width: 100%;
		max-width: none;
		color: rgb(var(--gray-dark));
	}
</style>
