---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<section class="hero">
				<h1>{title}</h1>
				{description && <p class="description">{description}</p>}
			</section>

			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={typeof heroImage === 'string' ? heroImage : heroImage.src} alt="" />}
				</div>
				<div class="prose">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 100%;
	}
	.hero-image {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto 2rem auto;
	}
	.hero-image img {
		display: block;
		width: auto;
		max-width: 100%;
		max-height: 400px;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	.date {
		margin-bottom: 0.5rem;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
	.prose {
		width: 960px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3rem 2rem;
		color: rgb(var(--gray-dark));
	}
</style>
